.word-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.timer {
  font-size: 3rem;
  font-weight: bold;
}

.timer.text-danger {
  color: #dc3545;
  /* Vermelho */
}

.timer.text-warning {
  color: #ffc107;
  /* Amarelo */
}

.timer.text-success {
  color: #28a745;
  /* Verde */
}

.playerName {
  color: #28a745;
  font-size: 5rem;
}