<div class="container">
  <h1>Criar Dois Times</h1>

  <div class="input-container">
    <input type="text" [(ngModel)]="nameInput" placeholder="Digite o nome" (keyup.enter)="addName()" />
    <button (click)="addName()" [disabled]="nameInput.trim() === ''">Adicionar Nome</button>
  </div>

  <div *ngIf="names.length > 0">
    <h3>Lista de Nomes</h3>
    <ul>
      <li *ngFor="let name of names">{{ name }}</li>
    </ul>
  </div>

  <button (click)="divideTeams()" [disabled]="names.length < 2">Dividir em Times</button>
  <button (click)="resetTeams()">Resetar Times</button>

  <div *ngIf="team1.length > 0 && team2.length > 0">
    <h2>Times Criados:</h2>
    <div class="teams">
      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="team1" class="team">
        <h3>Time 1</h3>
        <ul>
          <li *ngFor="let member of team1" cdkDrag>{{ member }}</li>
        </ul>
      </div>

      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="team2" class="team">
        <h3>Time 2</h3>
        <ul>
          <li *ngFor="let member of team2" cdkDrag>{{ member }}</li>
        </ul>
      </div>
    </div>
  </div>

  <button routerLink="/">Voltar para a Tela Inicial</button> <!-- Botão para voltar à tela inicial -->
</div>